{% include "base.html" %}
{% include "script_messaggi.html"%}
<h3> Login </h3>

<style>
    h3 {
        text-align: center;
        font-size: 2em; /* Dimensione maggiore per il titolo */
        margin-bottom: 20px; /* Spazio sotto il titolo */
    }
    .centered{
        text-align: center;
    }

    form, p{
        text-align: center;
    }

</style>
<form method = "POST" action = "">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username..." >
    <input type="password" name="password" placeholder="Password...">

    <input type="submit" value="Login">
</form>

<div class="centered">
    <p>non hai un account?</p>
    <a href="{% url 'registrazione' %}">Registrati ora!</a>
</div>